<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">lower case opinions</li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://linkedin.com/in/mm-campbell"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">moyni</span></a></li><li><a href="https://www.twitter.com/moynibell"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">moynibell</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>Maria Campbell</p>
      </div>
    </div>

  </div>

</footer>
