<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col-1">
      <h2 class="footer-heading">lower case opinions</h2>
    </div>

    <div class="footer-col-1">
      <ul class="contact-list">
        <li class="social-media-list">
          <a href="https://twitter.com/moynibell">twitter</a>
        </li>
        <li class="social-media-list">
          <a href="https://linkedin.com/in/mm-campbell">linkedin</a>
        </li>
      </ul>
    </div>

    <div class="footer-col-1">
      <p>&copy; 2019 Maria Campbell</p>
    </div>
    

  </div>

</footer>
