{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">
  <li><a href="https://github.com/moyni"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
  <li><a href="https://www.instagram.com/moynibell"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg></a></li>
  <li><a href="https://www.linkedin.com/in/mm-campbell"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg></a></li>
  <li><a href="https://twitter.com/moynibell"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
</ul>
